.puzzle-string-prop {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;
}

.string-prop-tf {
    min-width: 50%;
}

.string-prop-not-provided-value {
    min-width: 35%;
    align-content: center;
}