# FE
*.css
*.css.map
FrontReact/node_modules
FrontReact/build/
FrontReact/build/resources/Nonograms/
FrontReact/public/
FrontReact/my_notes/

# BE
.idea/
PuzzleSolver/src/main/tools/MySQL/docker-compose.yml
PuzzleSolver/src/test/resources/
PuzzleSolver/data
PuzzleSolver/src/main/java/com/puzzlesolverappbackend/puzzlesolverapp/old

# other
/data/
/solutionsBackup/
nCopy
otherFolders

.gitignore.backup

