#nonogram-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: fit-content;
    max-width: 388px;
    max-height: fit-content;
    padding: 5px;
}

#general-nonograms-information {
    display: flex;
    flex-direction: column;
}