/*#akari-info {
    position: absolute;
    top: 50%;
    left: 20px;
}*/

#akari-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    position: sticky;
    left: 0px;
}