#nonogram-actions-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#common-nonogram-actions-section {
    display: flex;
    align-items: center;
}

#nonogram-actions-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}