#sudoku-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  padding: 5px;
  min-width: fit-content;
  background-color: #cecece;
  border-radius: 5px;
  flex-grow: 1;
}

.sudokuBasicOptionsListItemStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sudokuBasicOptionsListSelectedItemStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #59e359;
}

.sudokuBasicOptionsListSelectedItemStyle :hover {
  background-color: #3fa346;
}

.option-selected {
  background-color: green;
}

.range-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
