#nonogram-action-variants {
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
}

#nonogram-actions-choose-section {
    min-height: 50%;
}

#adjust-row-column-range-section {
    min-height: 50%;
}